# Dependencies
/node_modules
server/node_modules/

# Vite build output
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

Dockerfile.prod
tree.txt
project_1old.txt
project.txt

# IDE and OS files
.DS_Store
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploaded media (Ignore files, but keep the folders)
server/uploads/*
!server/uploads/.gitkeep
!server/uploads/branding/.gitkeep
!server/uploads/avatars/.gitkeep
!server/uploads/products/.gitkeep
!server/uploads/jobs/.gitkeep