services:
  app:
    container_name: subfloor-app
    build:
      context: .
      # defaults to 'Dockerfile', so we don't need to specify it anymore
    restart: always
    # Map Host Port (defined in .env or default 5075) -> Container 3001
    ports:
      - "${PORT:-5075}:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
    volumes:
      - ./server:/app/server
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    container_name: subfloor-db
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  supertokens:
    container_name: subfloor-supertokens
    image: registry.supertokens.io/supertokens/supertokens-postgresql
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      POSTGRESQL_CONNECTION_URI: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}"
      API_KEY: ${SUPERTOKENS_API_KEY}
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: